@{ ViewData["Title"] = "Панель адміністратора";
}

<h2>Admin Panel</h2>
<br />
@Html.ActionLink("Сеціалісти", "Specialists")
<br />
<br />
@Html.ActionLink("Статистика спеціалістів", "Statistics")
<br />
<br />
@Html.ActionLink("Заявки", "Requests")

